<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>El descubridor</title>
  <link rel="stylesheet" href="periodico.css">
</head>

<body>
<!-- BEGIN wrapper -->
<section id="wrapper">
    
     <section id="publi">


</section>
  <!-- BEGIN header -->
  <section id="header">
               <section class="arr"><a href=""><img src="" alt="PUBLICIDAD"/></a>
    </section>
    <section class="izq"><a href=""><img src="" alt="PUBLICIDAD"/></a>
    </section>
    <section class="der"><a href=""><img src="" alt="PUBLICIDAD"/></a>
    </section>
      
    
    <h1><a href="">InnodeMag</a><form>
First name: <input type="text" name="firstname"><br>
Last name: <input type="text" name="lastname">
</form></h1>
      
    <ul class="categories">
      <li id="boton1"><a href="http://www.free-css.com/">INTERNACIONAL</a></li>
      <li id="boton2"><a href="http://www.free-css.com/">POLÍTICA</a></li>
      <li id="boton3"><a href="http://www.free-css.com/">ECONOMÍA</a></li>
      <li id="boton4"><a href="http://www.free-css.com/">CULTURA</a></li>
      <li id="boton5"><a href="http://www.free-css.com/">SOCIEDAD</a></li>
      <li id="boton6"><a href="http://www.free-css.com/">DEPORTES</a></li>
    </ul>
      
  </section>
  <!-- END header -->
    
    

    
<!-- BEGIN segunda columna noticias --> 
        <!-- BEGIN content -->
  <section id="content">
    <!-- begin more articles -->
    <section class="articles">
      <h2 class="title">NOTICIAS</h2>
      <!-- begin post -->     
      <section class="post">    
        <section class="details">
          <p class="l">Posted by <a href="http://www.free-css.com/">Chiq Montes</a> on April 20, 2009 </p>
        </section> 
          <h2><a href="http://www.free-css.com/">Lorem Ipsum Dolor Sit Amet Libera Sequitor</a></h2>
          <section class="thumb"><a href="http://www.free-css.com/"><img src="images/_thumb1.jpg" alt="" /></a> </section>
        <p>Sed auctor, purus et elementum gravida, felis augue faucibus velit, nec aliquet leo tellus eget purus. Sed est metus, placerat at, commodo ut, ultrices cursus, mauris. Cum sociis natoque penatibus</p>
          <p> <a href="http://www.free-css.com/">21 Comments</a> </p>
      </section>
      <!-- end post -->
        
      <!-- begin post -->     
      <section class="post">    
        <section class="details">
          <p class="l">Posted by <a href="http://www.free-css.com/">Chiq Montes</a> on April 20, 2009 </p>
        </section> 
          <h2><a href="http://www.free-css.com/">Lorem Ipsum Dolor Sit Amet Libera Sequitor</a></h2>
          <section class="thumb"><a href="http://www.free-css.com/"><img src="images/_thumb1.jpg" alt="" /></a> </section>
        <p>Sed auctor, purus et elementum gravida, felis augue faucibus velit, nec aliquet leo tellus eget purus. Sed est metus, placerat at, commodo ut, ultrices cursus, mauris. Cum sociis natoque penatibus</p>
          <p> <a href="http://www.free-css.com/">21 Comments</a> </p>
      </section>
      <!-- end post -->
        
        
      <!-- begin post -->     
      <section class="post">    
        <section class="details">
          <p class="l">Posted by <a href="http://www.free-css.com/">Chiq Montes</a> on April 20, 2009 </p>
        </section> 
          <h2><a href="http://www.free-css.com/">Lorem Ipsum Dolor Sit Amet Libera Sequitor</a></h2>
          <section class="thumb"><a href="http://www.free-css.com/"><img src="images/_thumb1.jpg" alt="" /></a> </section>
        <p>Sed auctor, purus et elementum gravida, felis augue faucibus velit, nec aliquet leo tellus eget purus. Sed est metus, placerat at, commodo ut, ultrices cursus, mauris. Cum sociis natoque penatibus</p>
          <p> <a href="http://www.free-css.com/">21 Comments</a> </p>
      </section>
      <!-- end post -->
        
        
      <!-- begin post -->     
      <section class="post">    
        <section class="details">
          <p class="l">Posted by <a href="http://www.free-css.com/">Chiq Montes</a> on April 20, 2009 </p>
        </section> 
          <h2><a href="http://www.free-css.com/">Lorem Ipsum Dolor Sit Amet Libera Sequitor</a></h2>
          <section class="thumb"><a href="http://www.free-css.com/"><img src="images/_thumb1.jpg" alt="" /></a> </section>
        <p>Sed auctor, purus et elementum gravida, felis augue faucibus velit, nec aliquet leo tellus eget purus. Sed est metus, placerat at, commodo ut, ultrices cursus, mauris. Cum sociis natoque penatibus</p>
          <p> <a href="http://www.free-css.com/">21 Comments</a> </p>
      </section>
      <!-- end post -->
</section>
</section>
    
    
 <!-- begin ultima hora -->   
<section id="content" style='height:600px; overflow:scroll;'>
    <!-- begin more articles -->
    <section class="articles">
      <h2 class="title">ÚLTIMA HORA</h2>
      <!-- begin post -->
        
      <section class="post">
        <section class="details">
          <p class="l"> Posted by <a href="http://www.free-css.com/">Chiq Montes</a> on April 20, 2009 </p>
          
        </section>
        
        <h2><a href="http://www.free-css.com/">Lorem Ipsum Dolor Sit Amet Libera Sequitor</a></h2>
        <p>Sed auctor, purus et elementum gravida, felis augue faucibus velit, nec aliquet leo tellus eget purus. Sed est metus, placerat at, commodo ut, ultrices cursus, mauris. Cum sociis natoque penatibus</p>
      <p> <a href="http://www.free-css.com/">21 Comments</a> </p>
        </section>
        
              <section class="post">
        <section class="details">
          <p class="l">Posted by <a href="http://www.free-css.com/">Chiq Montes</a> on April 20, 2009 </p>
         
        </section>
        
        <h2><a href="http://www.free-css.com/">Lorem Ipsum Dolor Sit Amet Libera Sequitor</a></h2>
        <p>Sed auctor, purus et elementum gravida, felis augue faucibus velit, nec aliquet leo tellus eget purus. Sed est metus, placerat at, commodo ut, ultrices cursus, mauris. Cum sociis natoque penatibus</p>
                  <p > <a href="http://www.free-css.com/">21 Comments</a> </p>
      </section>

              <section class="post">
        <section class="details">
          <p class="l">Posted by <a href="http://www.free-css.com/">Chiq Montes</a> on April 20, 2009 </p>
         
        </section>
        
        <h2><a href="http://www.free-css.com/">Lorem Ipsum Dolor Sit Amet Libera Sequitor</a></h2>
        <p>Sed auctor, purus et elementum gravida, felis augue faucibus velit, nec aliquet leo tellus eget purus. Sed est metus, placerat at, commodo ut, ultrices cursus, mauris. Cum sociis natoque penatibus</p>
                  <p> <a href="http://www.free-css.com/">21 Comments</a> </p>
      </section>
        <section class="post">
        <section class="details">
          <p class="l">Posted by <a href="http://www.free-css.com/">Chiq Montes</a> on April 20, 2009 </p>
         
        </section>
        
        <h2><a href="http://www.free-css.com/">Lorem Ipsum Dolor Sit Amet Libera Sequitor</a></h2>
        <p>Sed auctor, purus et elementum gravida, felis augue faucibus velit, nec aliquet leo tellus eget purus. Sed est metus, placerat at, commodo ut, ultrices cursus, mauris. Cum sociis natoque penatibus</p>
            <p> <a href="http://www.free-css.com/">21 Comments</a> </p>
      </section>

        <section class="post">
    <section class="details">
          <p class="l">Posted by <a href="http://www.free-css.com/">Chiq Montes</a> on April 20, 2009 </p>
          
        </section>
        
        <h2><a href="http://www.free-css.com/">Lorem Ipsum Dolor Sit Amet Libera Sequitor</a></h2>
        <p>Sed auctor, purus et elementum gravida, felis augue faucibus velit, nec aliquet leo tellus eget purus. Sed est metus, placerat at, commodo ut, ultrices cursus, mauris. Cum sociis natoque penatibus</p>
            <p> <a href="http://www.free-css.com/">21 Comments</a> </p>
</section>
    
</section>
</section>
  <!-- end ultima hora -->
    
    
    <section id="content">
    <!-- begin more articles -->
    <section class="articles">
      <h2 class="title">PUBLICIDAD</h2>
      <!-- begin post -->
        
      <section class="post">

        <section class="thumb"><a href="http://www.free-css.com/"><img src="images/_thumb2.jpg" alt="" /></a></section>
        <h2><a href="http://www.free-css.com/">Lorem Ipsum Dolor Sit Amet Libera Sequitor</a></h2>
      </section>
        
              <section class="post">

        <section class="thumb"><a href="http://www.free-css.com/"><img src="images/_thumb2.jpg" alt="" /></a></section>
        <h2><a href="http://www.free-css.com/">Lorem Ipsum Dolor Sit Amet Libera Sequitor</a></h2>
      </section>

      </section>
</section>
</section>
    
  <!-- BEGIN footer -->
  <section id="footer">
    <p>Copyright &copy; 2014 - <a href="http://www.free-css.com/">El descubridor</a> &middot; All Rights Reserved | <a href="http://www.wpthemedesigner.com/">Contacto</a> | <a href="http://www.free-css.com/">Cómo se hizo</a></p></br><p>C/ Jose Tomas, s/n, 18180, (Poligono Asegra),Granada</p>
  </section>
  <!-- END footer -->
    
</body>
</html>
