<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> 
	<title>El descubridor</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>    
        <script src="http://code.highcharts.com/modules/exporting.js"></script>
</head>
<body>
    <header class = "col-md-12">
       <a href="/"><img src="../static/nombre.png"></a>
        <form name="login" method="POST">
				% if iniciado:
					${iniciado}
				% endif
				% if form:
					${form.render()}
				% endif
			</form>
    </header>
    
    <div class = "container-fluid">
        <div class= "row">
            <div id="columna_izquierda" class="col-md-3">
                <h1> Menu </h1>
                <ul>
                    <li><a href="/">Principal</a></li>
                    % if iniciado:
                        <li><a href="/informacion">Datos personales</a></li>
                        <li><a href="/modifica">Modificar Datos</a></li>
                        <li><a href="/rss">Rss</a></li>
                        <li><a href="/fotos">Fotos</a></li>
                        <li><a href="/mapa">Mapa</a></li>
                        <li><a href="/chartsregistro">Inserta Gráficas</a></li>
                        <li><a href="/chartsmuestra">Muestra Gráficas</a></li>
                        <li><a href="/chartsjq">JQ</a></li>
                        <li><a href="/charts">Gráficas</a></li>
                        <li><a href="/twitter">Twitter</a></li>
                    % endif
                </ul>
                    % if visitas:
                        <h4>PÁGINAS VISITADAS</h4>
                        ${visitas}
                    % endif
            </div>
            <div id="columna_derecha" class="col-md-9">
                    % if titulo:
                        <h3>${titulo}</h3>
                    % endif
                    % if not iniciado:
                        <P> Debes de estar registrado para poder ver el contenido. </P>  
                    % endif
                
                    <div id="container_" >
                       <button id="set_puntos">Puntos</button>
                       <button id="set_barras">Barras</button>
                       <button id="set_pie">Pie</button>
                        <button id="set_ocultar">Ocultar gráfica</button>
                    </div>
                    <div id="container" style="width: 800px; height: 330px;"></div>

                    <script type="text/javascript">
                        $(function () {       
                                    var index = ${index}
                                    var modifica = ${modifica}
                                    var rss = ${rss}
                                    var foto = ${foto}
                                    var mapa = ${mapa}
                                    var grafica = ${grafica}
                                    var twitter = ${twitter}

                            $('#set_puntos').click(function() {
                                $('#container').show( 300 )
                                var chart = $(this).parent('div').attr('id');
                                chart = chart.replace('_','');
                                $('#'+chart).highcharts().series[0].update({ type: "scatter"});
                            });
                            $('#set_barras').click(function() {
                                $('#container').show( 300 )
                                var chart = $(this).parent('div').attr('id');
                                chart = chart.replace('_','');
                                $('#'+chart).highcharts().series[0].update({ type: "bar"});
                            });
                            $('#set_pie').click(function() {
                                $('#container').show( 300 )
                                var chart = $(this).parent('div').attr('id');
                                chart = chart.replace('_','');
                                $('#'+chart).highcharts().series[0].update({ type: "pie"});
                            });
                            $('#set_ocultar').click(function() {
                                $('#container').hide(3000);
                                var chart = $(this).parent('div').attr('id');
                                chart = chart.replace('_','');
                                $('#'+chart).highcharts().series[0].update({ type: "scatter"});
                            });

                            $('#container').highcharts({
                                chart: {
                                    type: 'scatter',
                                    margin: [ 50, 50, 60, 80]
                                },
                                title: {
                                    text: 'Estadística visitas por página.'
                                },
                                credits: {
                                    enabled: false
                                },
                                xAxis: {
                                    categories: ['Index', 'Modifica', 'Rss', 'Fotos', 'Mapa', 'Graficas', 'Twitter'],
                                        labels: {
                                            rotation: -45,
                                            align: 'right',
                                            style: {
                                                fontSize: '13px'
                                            }
                                        }
                                    },
                                yAxis: {
                                    min: 0,
                                        title: {
                                            text: 'Visitas'
                                        }
                                },
                                legend: {
                                    enabled: false
                                },
                                series: [{
                                    name: 'Visitas',
                                    data: [{
                                                name: 'Index',
                                                y: index,
                                                color: Highcharts.getOptions().colors[0]
                                            }, {
                                                name: 'Modificion',
                                                y: modifica,
                                                color: Highcharts.getOptions().colors[1] 
                                            }, {
                                                name: 'Rss',
                                                y: rss,
                                                color: Highcharts.getOptions().colors[2] 
                                            }, {
                                                name: 'Fotos',
                                                y: foto,
                                                color: Highcharts.getOptions().colors[3]
                                            }, {
                                                name: 'Mapa',
                                                y: mapa,
                                                color: Highcharts.getOptions().colors[4] 
                                            }, {
                                                name: 'Graficas',
                                                y: grafica,
                                                color: Highcharts.getOptions().colors[5] 
                                            }, {
                                                name: 'Twitter',
                                                y: twitter,
                                                color: Highcharts.getOptions().colors[6] 
                                            }]
                                }]
                            });

                            function ajax_update(date){
                                $.ajax({
                                    data: {date:date}
                                });
                            }
                        });
                        </script>
            
            </div>
        </div>
    </div>
    
    <footer class="col-md-12">
            <p>Copyright &copy; 2014 - <a href="">El descubridor</a> &middot; All Rights Reserved | <a href="">Contacto</a> | <a href="">Cómo se hizo</a></p></br><p>C/ Jose Tomas, s/n, 18180, (Poligono Asegra),Granada</p>
        <a href="https://twitter.com/victorCoronas" class="twitter-follow-button" data-show-count="false" data-lang="es">Seguir a @victorCoronas</a>
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="victorCoronas" data-lang="es" data-related="victorCoronas">Twittear</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </footer>
    <!-- Librerias -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</body>
</html>